[package]
name = "poincare_layer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8"
approx = "0.5"
rustfft = "6.4.0"
noise = "0.9.0"
rayon = "1.10.0"
microfft = "0.6.0"
rustdct = "0.7.1"
omni-wave = "0.2.1"
ndarray-stats = "0.6.0"
nalgebra = "0.33.2"
ndarray = "0.15.6"
libm = "0.2"
serde = { version = "1.0", features = ["derive"] }
num_cpus = "1.0"
indicatif = "0.17"
